body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(\../images/login_bg.jpg);
  background-color: aliceblue;
  background-size: cover;
  display: flex;
}

.overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.login_container {
  background-color: aliceblue;
  border-radius: 40px;
  border: solid 2px black;
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
  min-width: 60%;
  max-width: fit-content;
  min-height: 70%;
  max-height: fit-content;
}

.heading {
  font-size: 50px;
}

.login {
  font-size: 20px;
}
.login input {
  min-width: 80%;
  min-height: fit-content;
  border-radius: 10px;
  margin-bottom: 10%;
  margin-top: 2%;
  padding: 10px;
}

input::placeholder {
  font-size: 20px;
  padding: 50px;
}

#submit {
  font-size: 20px;
  width: 20%;
  background-color: #0088ff;
  color: white;
}