body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(\../images/login_bg.jpg);
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.login_container {
  background-color: aliceblue;
  border-radius: 20px;
  border: solid 2px black;
  text-align: center;
  max-width: 500px;
  width: 85%;
  padding: 2rem;
  box-sizing: border-box;
}

.heading {
  font-size: 50px;
  margin-bottom: 2rem;
}

.login {
  font-size: 20px;
}
.login input {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10%;
  margin-top: 2%;
  padding: 10px;
  border: 2px solid black;
}

input::placeholder {
  font-size: 20px;
  padding: 50px;
}

#submit {
  font-size: 20px;
  width: 30%;
  background-color: #0088ff;
  color: white;
}